<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620057176522-82d9gbgehtn682d7mr7i47mq7cff6om0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620057176522-82d9gbgehtn682d7mr7i47mq7cff6om0</string>
	<key>API_KEY</key>
	<string>AIzaSyDwEsdXnquRAGG4djQ2zkvsfZAJ_fFE0fU</string>
	<key>GCM_SENDER_ID</key>
	<string>620057176522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lrbn.YesNails</string>
	<key>PROJECT_ID</key>
	<string>yesnailsdb</string>
	<key>STORAGE_BUCKET</key>
	<string>yesnailsdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:620057176522:ios:5b239dc073272498</string>
	<key>DATABASE_URL</key>
	<string>https://yesnailsdb.firebaseio.com</string>
</dict>
</plist>
